body {
    width: 700px;
    /* padding: 20px 10px 20px 20px; */
    padding-left: 30px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid lightgray;
}

p {
    width: 500px;
    
}

nav {
    width: 500px;
   border-top: 1px solid lightgray;
   border-bottom: 1px solid lightgray;
}

nav a {
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
}

h1,
h2,
h3 {
    width: 500px;
}

hr {
    margin: 0px;
    width: 75%;
}

.name {
    float: left;
    width: 50%;
}

.avatarka {
    clear: both;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 25px;
}
